@body-background-color: rgba(0, 0, 0, 1);
@font-face {
  font-family: roboto;
  src: url(../font/Roboto-Regular.ttf);
}
body {
  background-color: @body-background-color;
  font-size: 1em;
  font-family: roboto, Arial Narrow, sans-serif;
  color: white;
  background-color: black;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

@r: 255;
@g: 255;
@b: 255;
@opacity: 1;
@color-a: rgba(@r, @g, @b, .75);
@color-a-hover: lighten(rgba(@r, @g, @b, @opacity),40%);
@color-a-active:rgba(@r - 220, @g - 180, @b - 10, @opacity);
a {
  text-decoration: none;
  color: @color-a;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  transition: all 0.3s;
  &:hover {
    color: @color-a-hover;
  }
  &:active {
    color: @color-a-active;
  }
}

@red: 0;
@green: 0;
@blue: 0;
@opacity-bag: .6;
@background-section: rgba(@red, @green, @blue, @opacity-bag);

// примеси

.text-decoration(@font-size: 1.2em, @radius: 10px, @padding: 10px) {
  font-size: @font-size;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border-radius: @radius;
  padding: @padding @padding*2;
}
.color (@opacity-bag: 1, @r: 255, @g: 255, @b:255, @opacity-color: 1, @spin: 0) {
  background-color: @background-section;
  color: spin(rgba(@r, @g, @b, @opacity-color), @spin );

}
.text-page(@font-size: 1em) {
  font-size: @font-size;
  line-height: 1.5em;
  font-weight: 200;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}
.position() {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}
.video-button() {
  text-align: center;
  background-color: rgba(150, 100, 5, 1);
  transition: all 0.3s;
  color: black;
  font-weight: 700;

  &:hover {
    background-color: spin(rgba(150, 100, 5, 1), 60deg);
  }
}
// примеси

h2{
  .text-decoration(2em, @padding:20px);
  color: @color-a-hover;
}
h3 {
  font-size: 0.9em;
  color: rgba(255, 255, 255, .6);
  padding: 5px;
}

// animation
@keyframes header-nav {
  0% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes header-translate-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes header-translate-bottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes header-translate-heading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
// animation

    // header
.header-page {
  display: grid;
  grid-template-columns:  1fr auto 1fr;
  grid-template-rows: auto  auto auto;

  .header-nav {
      position: fixed;
      width: 100%;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
      background-color: @background-section;
      z-index: 15;
      transition: all 0.3s;

      &:hover {
        background-color: @background-section + 1;
      }

    .header-item {
      .position();
      display: flex;
      justify-content: space-between;
      align-items: center;
      animation-name: header-nav;
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-iteration-count: 1;

      .header-logo a {
        height: 60px;

          img {
          height: 100%;
          margin: 0 10px;

          &:hover {
           opacity: 0.5;
          }
        }
      }

      .header-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

          a {
            position: relative;
            padding: 5px 10px;
            margin: 5px;
            font-size: 1em;
            flex-grow: 1;
            text-align: center;

            &::before,
            &::after{
              position: absolute;
              left: 0;
              content: "";
              width: 100%;
              height: 2px;
              opacity: 0;
              background-color: @color-a-hover;
              transition: all 0.2s;
            }
            &::before {
              top: 0px;
              transform: translateY(-15px);
            }
            &::after {
              bottom: 0;
              transform: translateY(15px);
            }
            &:hover::before,
            &:hover::after {
              opacity: 1;
              transform: translateY(0);
            }
           }
           .header-active {
             color: white;
             text-decoration: underline;
           }
       }

       .header-gallery  a{
         position: relative;
         padding: 5px 10px 5px 10px;
         margin: 0 10px;
         font-size: 15px;

         &::before,
         &::after {
           position: absolute;
           background-color: @color-a;
           content: "";
           width: 27px;
           height: 2px;
           transition: all 0.3s;
         }
         &::before {
           top:0;
           left: 0;
           transform-origin: 0 0;
           transform: rotate(90deg);
         }
         &::after {
           bottom: 0;
           right: 0;
           transform-origin: 100% 100%;
           transform: rotate(90deg);
         }
         &:hover::before,
         &:hover::after {
           background-color: @color-a-hover;
         }
         &:hover::before {
           left: 50%;
           transform: rotate(0) translateX(-50%);
         }
         &:hover::after {
           right: 50%;
           transform: rotate(0) translateX(50%);
         }
       }
     }
  }
  .header-nav-top {
    animation-name: header-translate-top;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
  }
  .header-nav-bottom {
    animation-name: header-translate-bottom;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
  }


  .header-news {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    z-index: 10;

    &-heading {
      background-color: @background-section;

    &-item {
      .position();
      display: none;
      justify-content: space-between;
      align-items: center;

      &-info {
        font-size: 1.2em;
        padding: 5px;
        margin: 20px 0;


        &:hover {
          text-decoration: underline;
        }
      }
      .info-active {
        animation-name: header-translate-heading;
        animation-duration: 1.5s;
        animation-fill-mode: both;
        animation-iteration-count: 1;
      }

      &-video {
        .text-page(1em);
        .video-button();
        padding: 10px 50px;
      }
    }
    &-active {
      display: flex;
    }
    }

    &-item {
    display: flex;

    &-color {
     background-color: @background-section + 10;
     width: 15%;
    }

    &-button {
      .position();
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      button {
        .text-page(0.75em);
        display: block;
        background-color: @background-section + 10;
        padding: 20px 10px;
        border-style: none;
        border-left: 1px solid @background-section + 20;
        border-right: 1px solid @background-section + 20;
        transition: all 0.5s;

        &:hover {
          border-left: 1px solid @background-section + 80;
          border-right: 1px solid @background-section + 80;
        }

      }
      .news-active {
        background-color: @background-section;
      }

     }
    }
  }

  .header-news-img {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    z-index: 1;
    display: grid;

    &-item {
      width: 100%;
      min-width: 800px;
      grid-column-start: 1;
      grid-row-start: 1;
      opacity: 0;
      transition: all 3s;
    }
    &-active {
      opacity: 1;
    }
  }
}


  // header
  // main
  main {
    background-color: black;
    background-color: rgba(50, 50, 50, .4);
  }

.last-flight {
  .position();
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr 1fr ;

  &-heading {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &-item {
    box-shadow: 5px 5px 10px 3px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    transition: all 0.1s;

    &:hover {
     box-shadow: 7px 7px 10px 6px black;
     transform: translateX(-1px) translateY(-1px);
    }

    figure {
      position: relative;
      margin: 0;

      img {
        width: 100%;
      }

      figcaption {
        position: absolute;
        background-color: rgba(0, 0, 0, .6);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

       .shuttle {
         font-size: 1.2em;
         color: white;
       }
       span {
         padding: 5px;
       }
     }
    }

    .info {
      font-size: 0.9em;
      flex-grow: 1;
      line-height: 1.5em;
    }

    .date {
      text-align: right;
      font-size: 0.8em;
      margin: 5px;
      color: rgba(150, 150, 150, .8);
    }

    .go-to-video {
      .video-button();
      margin: 10px 0;
      padding: 10px;
    }
  }
  .discovery {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .endeavour {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .atlantis {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

}


  // main

  // footer
.footer-page {

 &-nav {
   .position();
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 0;
   font-size: 0.8em;

   &-menu {
     display: flex;
     justify-content: space-between;
     align-items: center;

     a {
       margin-right: 30px;

       &:hover {
         text-decoration: underline;
       }
     }

  .footer-logo {
    height: 40px;

    img {
      height: 100%;
    }
   }
  }
  &-info {
    opacity: 0.5;
  }
 }
}
// footer
